HELP.md
target/*
build/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/target/
!**/src/test/**/target/
!build/libs/
!.mvn/wrapper/maven-wrapper.jar
bin/

# Java Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
!build/libs/BankOfTime-0.0.1-SNAPSHOT.jar

#Gradle
.gradle
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out

### VS Code ###
.vscode/

# Miscellaneous
*.java.hsp
*.sonarj
*.sw*
.DS_Store
build.sh
integration-repo
ivy-cache
argfile*
activemq-data/
classes/
/src/main/resources/secrets.properties
/src/test/httpTests/http-client.private.env.json

# Log files
jxl.log
jmx.log
derby.log
