@import "@node_modules/react-image-gallery/styles/scss/image-gallery.scss";
@import "@styles/Colors.scss";

#offer-details-section {
  padding-top: 70px;
}

.offer-container {
  display: flex;
  gap: 8%;
}

.offer-container-child {
  flex: 50%;
}

.offer-description {
  display: flex;
  gap: 20px;

  div {
    flex: 50%;
  }

  hr {
    width: 70%;
  }

  .offer-details {
    padding: 20px;
    border: 0.1px solid rgba(0, 0, 0, 0.612);
    border-radius: 10px 10px;

    hr {
      width: 100%;
    }

    h4 {
      font-size: 110%;
    }

    #time-icon {
      font-size: 160%;
    }

    .price-container {
      display: flex;
      align-items: center;
      flex-direction: column;

      .price-inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .price {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .previous-price {
        text-decoration: line-through;
        font-size: 80%;
        padding-right: 10px;
        color: $price-color-darker;
      }
    }

    button {
      background-color: $main-green;
      border: $main-green;
      width: 100px;
      border-radius: 40px 40px;
    }

    button:hover {
      background-color: $darker-green;
    }
    .state-available {
      color: $main-green;
    }
    .appUser-name {
      margin-bottom: 20px;
    }
  }
}
