.offers-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.offers-pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  align-items: flex-end;
}

.filters {
  margin-right: 30px;
  width: 320px;
}

.offers {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
  flex: 1 300px;
}

.price {
  color: rgb(161, 13, 13);
  font-size: 200%;
}
